<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="modalMantenimiento" class="row" th:fragment="modalMantenimiento" th:with="tipo=${tipo}">
		<fieldset class="well">
			<legend class="well-legend">Formulario de Mantenimiento</legend>
			<form id="formMantenimiento" class="form-horizontal" role="form" method="POST"
								enctype="multipart/form-data">
				<th:block th:replace="~{template/fragments/registro/modalMantenimiento :: ${tipo}}?:~{}">
				</th:block>
				<div id="botonesForm" class="form-group">
					<div class="col-lg-12 text-center">
						<button id="registrarMantenimiento" type="button" class="btn btn-success">
							<i class="fa fa-floppy-o"></i> Registrar
						</button>
						<button id="actualizarMantenimiento" type="button" class="btn btn-primary hidden">
							<i class="fa fa-pencil-square"></i> Actualizar
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>
	
	<th:block th:fragment="matricula">
		<div class="col-xs-12">
			<fieldset class="well">
				<legend class="well-legend">Datos del Alumno</legend>
				<div class="form-group">					
					<div class="group">
						<label class="control-label col-lg-2">Tipo de Documento</label>
						<div class="col-lg-4">
							<select id="tiposDocumento" class="form-control select2" name="tipoDocumento">
								<option value="" disabled="disabled" selected="selected">Seleccione un Tipo de Documento</option>
								<option th:each="tipoDocumento : ${tiposDocumento}" th:value="${tipoDocumento.idItem}"
									th:text="|${tipoDocumento.idItem} - ${tipoDocumento.abreviatura}|"></option>
							</select>
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Número Documento</label>
						<div class="col-lg-2">
							<input id="numeroDocumento" class="form-control numbersOnly" name="numeroDocumento" maxlength="8">
						</div>
					</div>
					<div class="group">
						<div class="col-lg-2">
							<button id="verificarDatos" type="button" class="btn btn-primary">
									<i class="fa fa-check-square-o"></i> Verificar Datos
							</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Nombre del Alumno</label>
						<div class="col-lg-4">
							<input id="nombreAlumno" class="form-control lettersOnly upperCase" name="nombreAlumno">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Apellidos del Alumno</label>
						<div class="col-lg-4">
							<input id="apellidoAlumno" class="form-control lettersOnly upperCase" name="apellidoAlumno">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Correo del Alumno</label>
					<div class="col-lg-4">
						<input id="correoAlumno" class="form-control" name="correoAlumno">
					</div>
				</div>
			</fieldset>
		</div>			
		<div class="col-xs-12">
			<fieldset class="well">
				<legend class="well-legend">Datos de la Matricula</legend>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Fecha Pago</label>
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input id="fechaMatricula" type="text" class="form-control" name="fechaMatricula"/>
							</div>
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Concepto de Pago</label>
						<div class="col-lg-4">
							<select id="conceptosPago" class="form-control select2" name="idConceptoPago">
								<option value="" disabled="disabled" selected="selected">
											Seleccione un Concepto de Pago
								</option>
								<option th:each="conceptoPago : ${conceptosPago}" th:value="${conceptoPago.idItem}"
											th:text="|${conceptoPago.descripcionItem} : ${conceptoPago.abreviatura}|">
								</option>
							</select>
						</div>
					</div>
				</div>
		
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Modalidad</label>
						<div class="col-lg-4">
							<select id="modalidades" class="form-control select2" name="idModalidad">
								<option value="" disabled="disabled" selected="selected">Seleccione una Modalidad</option>
								<option th:each="modalidad : ${modalidades}" th:value="${modalidad.idModalidad}"
											th:text="|${modalidad.nombreModalidad}|">
								</option>
							</select>
						</div>
					</div>
				</div>
		
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Especialización</label>
						<div class="col-lg-10">
							<select id="especializaciones" class="form-control select2" name="idEspecializacion">
								<option value="-1"  selected="selected">Seleccione una Especialización</option>
							</select>
						</div>
					</div>
				</div>
		
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Monto de Pago</label>
						<div class="col-lg-4">
							<input id ="costoMatricula" class="form-control numbersOnlyAndDot elemento-desactivable" name="costoMatricula">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Tipo de Pago del Ciclo</label>
						<div class="col-lg-4">
							<select id="tiposPago" class="form-control select2" name="idTipoPago">
								<option value="" disabled="disabled" selected="selected">Seleccione tipo de pago</option>
								<option th:each="tipoPago : ${tiposPago}" th:value="${tipoPago.idItem}"
											th:text="|${tipoPago.idItem} - ${tipoPago.descripcionItem}|">
								</option>
							</select>
						</div>
					</div>
				</div>
		
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Ciclo a matricular</label>
						<div class="col-lg-4">
							<input id ="numeroCiclo" class="form-control numbersOnly elemento-desactivable" name="numeroCiclo">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Adjuntar Voucher</label>
						<div class="col-lg-4">
							<input id="uploadfile" name="uploadfile" type="file" class="file form-control" data-show-preview="false" accept="application/pdf">
						</div>
					</div>
				</div>
			</fieldset>
		</div>			
	</th:block>
	
	<th:block th:fragment="perfeccionamiento">
		<div class="col-xs-12">
			<fieldset class="well">
				<legend class="well-legend">Datos del Alumno</legend>
				<div class="form-group">					
					<div class="group">
						<label class="control-label col-lg-2">Tipo de Documento</label>
						<div class="col-lg-4">
							<select id="tiposDocumento" class="form-control select2" name="tipoDocumento">
								<option value="" disabled="disabled" selected="selected">Seleccione un Tipo de Documento</option>
								<option th:each="tipoDocumento : ${tiposDocumento}" th:value="${tipoDocumento.idItem}"
									th:text="|${tipoDocumento.idItem} - ${tipoDocumento.abreviatura}|"></option>
							</select>
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Número Documento</label>
						<div class="col-lg-2">
							<input id="codigoAlumno" class="form-control numbersOnly" name="numeroDocumento" maxlength="8">
						</div>
					</div>
					<div class="group">
						<div class="col-lg-2">
							<button id="verificarDatos" type="button" class="btn btn-primary">
									<i class="fa fa-check-square-o"></i> Verificar Datos
							</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Nombre del Alumno</label>
						<div class="col-lg-4">
							<input id="nombreAlumno" class="form-control lettersOnly upperCase" name="nombreAlumno">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Apellidos del Alumno</label>
						<div class="col-lg-4">
							<input id="apellidoAlumno" class="form-control lettersOnly upperCase" name="apellidoAlumno">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Correo del Alumno</label>
					<div class="col-lg-4">
						<input id="correoAlumno" class="form-control" name="correoAlumno">
					</div>
				</div>
			</fieldset>
		</div>			
		
		<div class="col-xs-12">
			<fieldset class="well">
				<legend class="well-legend">Datos de Perfeccionamiento</legend>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Fecha Pago</label>
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input id="fechaPago" type="text" class="form-control" name="fechaPago"/>
							</div>
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Concepto de Pago</label>
						<div class="col-lg-4">
							<select id="conceptosPago" class="form-control select2" name="idConceptoPago">
								<option value="" disabled="disabled" selected="selected">
											Seleccione un Concepto de Pago
								</option>
								<option th:each="conceptoPago : ${conceptosPago}" th:value="${conceptoPago.idItem}"
											th:text="|${conceptoPago.descripcionItem} : ${conceptoPago.abreviatura}|">
								</option>
							</select>
						</div>
					</div>
				</div>
		
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Modalidad</label>
						<div class="col-lg-4">
							<select id="modalidades" class="form-control select2" name="idModalidad">
								<option value="" disabled="disabled" selected="selected">Seleccione una Modalidad</option>
								<option th:each="modalidad : ${modalidades}" th:value="${modalidad.idModalidad}"
											th:text="|${modalidad.nombreModalidad}|">
								</option>
							</select>
						</div>
					</div>
				</div>
		
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Especialización</label>
						<div class="col-lg-10">
							<select id="especializaciones" class="form-control select2" name="idEspecializacion">
								<option value="-1"  selected="selected">Seleccione una Especialización</option>
							</select>
						</div>
					</div>
				</div>
		
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Tipo de Pago del Ciclo</label>
						<div class="col-lg-4">
							<select id="tiposPago" class="form-control select2" name="idTipoPago">
								<option value="" disabled="disabled" selected="selected">Seleccione tipo de pago</option>
								<option th:each="tipoPago : ${tiposPago}" th:value="${tipoPago.idItem}"
											th:text="|${tipoPago.idItem} - ${tipoPago.descripcionItem}|">
								</option>
							</select>
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Ciclo a Pagar</label>
						<div class="col-lg-4">
							<input id="numCiclo" class="form-control elemento-desactivable" name="numeroCiclo">
						</div>
					</div>
				</div>
		
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Nro. Cuotas Pendientes de Pago</label>
						<div class="col-lg-4">
							<input id="nroCuotasPendientes" class="form-control elemento-desactivable" name="nroCuotasPendientes">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Costo por cada cuota</label>
						<div class="col-lg-4">
							<input id="costoCuota" class="form-control elemento-desactivable" name="costoCuota">
						</div>
					</div>
				</div>
		
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Nro. Cuota a Pagar</label>
						<div class="col-lg-4">
							<select id="numeroCuotas" class="form-control select2">
									<option value="" disabled="disabled" selected="selected">
												Seleccione un número de cuotas
									</option>
							</select>
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Adjuntar Voucher</label>
						<div class="col-lg-4">
							<input id="uploadfile" name="uploadfile" type="file" class="file form-control" data-show-preview="false" accept="application/pdf">
						</div>
					</div>
				</div>
			</fieldset>
		</div>			
	</th:block>
	
</body>
</html>