<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<head>
<title>Reporte de Deudas</title>
</head>
<th:block layout:fragment="style">
	<link th:href="@{/resources/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/responsive.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/popupwindow.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/jquery-confirm.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2-bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/daterangepicker.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/propio.css}" rel="stylesheet" />
</th:block>
<body>
	<th:block layout:fragment="content">
		
		
			<div class="tab-content clearfix">
				<div id="modalidadRep" class="tab-pane fade in active">
					<div class="page-content-wrap">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="panel panel-default">
									<div class="panel-body">
										<fieldset class="well">
											<legend class="well-legend">Búsqueda</legend>
											<form id="formReporteDeudas" class="form-horizontal">
												<div class="form-group">
													<div class="group">
														<label class="col-lg-2 control-label">Modalidad</label>
														<div class="col-lg-3">
															<select id="modalidades" class="form-control select2" name="modalidades">
																<option value="" disabled="disabled" selected="selected">
																			--Selecciona Modalidad--
																</option>
																<option th:each="modalidad : ${modalidades}" th:value="${modalidad.idModalidad}"
																			th:text="|${modalidad.idModalidad} - ${modalidad.nombreModalidad}|">
																</option>
															</select>
														</div>
													</div>
													<div class="group">
														<label class="col-lg-2 control-label">Especialización</label>
														<div class="col-lg-3">
															<select id="especializaciones" class="form-control select2" name="especializaciones">
																<option value="" disabled="disabled" selected="selected">
																			--Selecciona Especialización--
																</option>
																<option th:each="especializacion : ${especializaciones}" th:value="${especializacion.idEspecializacion}"
																			th:text="|${especializacion.idEspecializacion} - ${especializacion.nombreEspecializacion}|">
																</option>
															</select>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="group">
														<label class="col-lg-2 control-label">Código de Alumno</label>
														<div class="col-lg-3">
															<input id ="codigoAlumno" class="form-control" name="codigoAlumno">
														</div>
													</div>
													<div class="group">
														<label class="col-lg-2 control-label">Nro. Ciclo</label>
														<div class="col-lg-3">
															<input id ="numeroCiclo" class="form-control numbersOnly" name="numeroCiclo">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-lg-12 text-center">
														<button id="limpiar" type="button" class="btn btn-default">
															<i class="fa fa-refresh"></i> Limpiar
														</button>
														<button id="buscar" type="button" class="btn btn-primary">
															<i class="fa fa-search"></i> Buscar
														</button>
														<button id="exportar" type="button" class="btn btn-success" 
																title="Exportar en .XLSX" data-tooltip="tooltip">
															<i class="fa fa-download"></i> Exportar
														</button>
													</div>
												</div>
											</form>
										</fieldset>
										<div id="resultadoReporteDeudas" class="col-xs-12 tabs">

											<div class="tab-content">
												<div id="detalle" class="tab-pane fade in active">
													<table id="tablaReporteDeudas" width="100%"
														class="table table-bordered table-condensed nowrap display table-hover">
													</table>
												</div> 

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>	
		
	</th:block>

	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.show.rows.js}"></script>
		<script th:src="@{/resources/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/resources/js/jquery/popupwindow.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.serializejson.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.validate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/additional-methods.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery-confirm.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.animate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/select2.full.min.js}"></script>
		<script th:src="@{/resources/js/jquery/moment.min.js}"></script>
		<script th:src="@{/resources/js/jquery/daterangepicker.js}"></script>
		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>
		<script th:src="@{/resources/js/pagina/ingresos/reporte/reporteDeudas.js}"></script>
	</th:block>
</body>
</html>